.button-container {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
}
.table-container{
    width: auto;
}
.mat-mdc-row:hover {
    background-color: var(--mat-sys-secondary-container);
}

.spacer {
    flex: 1 1 auto;
}