<div class="table-container">
    <mat-card>
        <mat-toolbar color="primary"> 
            Table with Scan Data
            <span class="spacer"></span>
            <button mat-icon-button (click)="ngOnInit()">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button (click)="handleRefresh()">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button (click)="openDialog()">
                <mat-icon>settings</mat-icon>
            </button>
<!--             
            <mat-menu #menu="matMenu">
                @for (column of availableColumns(); track column) {
                    <mat-checkbox class="checkbox" (change)="handleColumnSelection(column)">{{ column }}</mat-checkbox>
                }
            </mat-menu> -->
        </mat-toolbar>
            <table mat-table *ngIf="tableData() as data" [dataSource]="data" class="mat-elevation-z8">

            <!-- Create table data dynamically -->
            <ng-container *ngFor="let column of displayedColumns()" [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column | titlecase }} </th>
                <td mat-cell *matCellDef="let element">
                    @if (column === 'timestamp') {
                        {{ element[column] * 1000 | date :'HH:mm:ss'}} 
                        <br>
                        {{ element[column] * 1000 | date :'dd/MM/yyyy'}}
                    }
                    @else if (column === 'user_rating') {
                        <star-rating [starType]="'svg'" [rating]="element[column]"></star-rating>
                    }
                    @else{
                        <p> {{ element[column] }}</p>
                    }
            </ng-container>
        
        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns(); sticky: true"></tr>
        <!-- Data Rows -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>
        </table>
    </mat-card> 
</div>
<div class="table-paginator">   
    <mat-paginator 
        #paginator 
        class="table-paginator" 
        (page) = "handlePageEvent($event)"
        [length]="totalScanCount()"
        [pageSize]= "limit()"
        [showFirstLastButtons]="true" 
        [pageSizeOptions]="[5, 10, 25, 100]" 
        [pageIndex]="offset()/limit()"
        aria-label="Select page"
        sticky= true>
    </mat-paginator>
</div>