.sidenav-container {
  height: 100vh;
  display: flex;
}

mat-sidenav {
  width: 200px;
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  border-radius: 0px;
  padding: 16px;
  text-align: center;
}

.sidenav.collapsed {
  width: 60px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.menu-item.hovered {
  background-color: var(--mat-sys-secondary-container);
}

.menu-item mat-icon {
  color: var(--mat-sys-on-primary);
  margin-right: 8px;
}

.menu-item .menu-text {
  transition: opacity 0.3s ease;
  color: var(--mat-sys-on-primary);
}

mat-sidenav-content {
  margin-left: 0px;
}
