<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <div>
      <img
        src="assets/BEC-Atlas-full-transparent.png"
        alt="BEC"
        width="25"
        height="25"
        style="margin: 10px"
      />
    </div>

    <mat-divider></mat-divider>
    <app-sidepanel-icon icon="science" label="Experiment"></app-sidepanel-icon>
    <app-sidepanel-icon icon="description" label="Data"></app-sidepanel-icon>
    <app-sidepanel-icon
      icon="manage_accounts"
      label="Access"
      [active]="true"
    ></app-sidepanel-icon>

    <!-- Experiment Control Expansion -->
    <!-- <mat-expansion-panel
      (opened)="panelOpened()"
      [hideToggle]="hideExperimentPanel"
    >
      <mat-expansion-panel-header>
        <mat-icon>science</mat-icon>
        <span class="menu-text">Experiment Control</span>
      </mat-expansion-panel-header>

      <button
        mat-button
        class="menu-item"
        [routerLink]="['/dashboard/overview-grid']"
      >
        <span class="menu-text">Control</span>
      </button>
      <button
        mat-button
        class="menu-item"
        [routerLink]="['/dashboard/deployment-admin']"
      >
        <span class="menu-text">Admin</span>
      </button>

      <button mat-button class="menu-item" (click)="openDeploymentDialog()">
        <span class="menu-text">{{ selectOrSwitchButtonTitle }}</span>
      </button>
    </mat-expansion-panel> -->

    <!-- Help -->
    <!-- <button mat-button class="menu-item">
      <mat-icon>help</mat-icon>
      <span class="menu-text">Help</span>
    </button>
    <div class="spacer"></div>
    @if ((realm_name) && (deployment_name)) {
    <div class="footer">
      <mat-divider></mat-divider>
      <div class="menu-text">{{ realm_name }}</div>
      <div class="menu-text">{{ deployment_name }}</div>
    </div>
    } -->
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
